.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container {
  padding: 20px;
}

.header {
  font-size: calc(20px + 2vmin);
  line-height: 1em;
  padding: 10px;
}

.subheader {
  font-size: calc(18px + 2vmin);
  line-height: 1em;
  padding: 10px;
}

.description-container {
  margin: 6% auto;
}

.description {
  font-size: calc(10px + 2vmin);
  line-height: 1.5em;
  width: 66%;
  margin: auto;
}

.App-link {
  color: #61dafb;
}

.PhoneInputCountryIcon--border {
  background-color: unset;
  box-shadow: none;
}

.action {
  margin: 70px 0;
}

.form-container {
  width: 575x;
  text-align: left;
  margin: auto;
}
