@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  padding-top: 25px;
}

.YC-logo {
  height: 5vmin;
  pointer-events: none;
  position: absolute;
  bottom: 25px;
  left:50%;
  margin-left:-50px;
  text-align:center;
  width:100px;
}

.container {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header-container {
  padding: 15px;
}

.header {
  font-family: 'Lato', sans-serif;
  font-size: calc(24px + 2vmin);
  font-weight: normal;
  line-height: 1em;
  padding: 10px;
}

.subheader {
  font-family: 'Lato', sans-serif;
  font-size: calc(22px + 2vmin);
  font-weight: normal;
  line-height: 1em;
  padding: 10px;
}

.description-container {
  margin-top: 3% auto;
  margin-bottom: 3% auto;
}

.description {
  font-family: 'Lato', sans-serif;
  font-size: calc(12px + 2vmin);
  font-weight: lighter;
  line-height: 1.5em;
  width: 66%;
  margin: auto;
}

.App-link {
  color: #61dafb;
}

.PhoneInputCountryIcon--border {
  background-color: unset;
  box-shadow: none;
}

.action {
  margin: 40px 0;
}

.form-container {
  width: 575x;
  text-align: left;
  margin: auto;
  padding-bottom: 6% auto;
}
